#aboutMain {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#titleCardMain {
    width: 100%;
    min-height: 70vh;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}






/* Text Pressure Nikhil CSS  */

#textPressureNikhil {
    width: 70vw;
    padding: 5px 20px;
    border-radius: 20px;
    overflow: hidden;
}




/* About Section CSS */

#aboutSection {
    width: 100vw;
    min-height: 20vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    text-align: center;
}

#variableProximityMain {
    font-size: 3.5vh;
    /* border: 2px solid blue; */
    width: 80vw;
}




/* Scroll Velocity CSS  */

#scrollVelocityDiv {
    /* border: 2px solid red; */
    height: auto;
    width: 100vw;
    margin: 5vh 0;
}




/* Resume Main CSS  */

#resumeMain {
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid blue; */
    margin-bottom: 5vh;
}

#resumeMain div {
    margin-top: 5vh;
}

#workExperience {
    max-width: 100vw;
    height: auto;
    /* border: 2px solid red; */
    padding: 0 5vh;
}

#resume {
    border-radius: 5vh;
    background-color: black;
}

.resumeContent {
    max-width: 100vw;
    height: auto;
    /* border: 2px solid red; */
    /* padding-left: 15vh; */
    /* border-radius: 5vh; */
    overflow: hidden;
    margin: 5vh;
}

.resumeContent h1 {
    color: cornflowerblue;
    font-size: 4vh;
}

.resumeContent h2 {
    font-size: 3vh;
}

.resumeContent ul {
    font-size: 2vh;
    padding: 2vh 10vh;
}








/* Resume Button CSS  */

#resumeDiv {
    position: absolute;
    z-index: 10;
    top: 5vh;
    right: 5vh;
}

#resumeDiv a {
    text-decoration: none;
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #000000;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #00000015;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}