.scroll-float {
    overflow: hidden;
}

.scroll-float-text {
    display: inline-block;
    font-size: clamp(1.6rem, 5vw, 10rem);
    font-weight: 400;
    text-align: center;
    line-height: 1;
    background-color: black;
    padding: 2vh;
    border-radius: 20px;
}

.char {
    display: inline-block;
}